.custom-jumbotron{
    background-color: transparent ;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    max-width: 1200px;
}

.custom-nav-style{
    border-bottom: 1px solid transparent;
    background: #0A192F;
    /* box-shadow: 0 0 10px 0px black; */
}

.navbar-brand{
    color: #60DDC9 !important;
}

.modal-content{
    background-color: #172A45 !important;
}

.modal-header{
    border-bottom: 1px solid #60DDC9 !important;
}

.modal-footer{
    border-top-color: transparent !important;
}

#right-place, #organizations, .news-link{
    color: #60DDC9
}

.news-link:hover{
    color: #60DDC9
}

.page-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    height: 100%;
}

.ideas-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 60px;
}

.news-container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.form-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 60px;
}

.card-container{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.org-info{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 30px;
}

.org-info>h6, .org-desc>h6{
    color: rgb(196, 213, 243)
}

.org-info>h6>a{
    color: #60DDC9
}

h3{
    color: rgb(226, 234, 248)
}

.org-desc{
    margin-top: 20px;
    /* max-height: 60vh; */
    overflow: scroll;
    overflow-x: hidden;
}

.org-desc>p{
    color: rgb(156,178,214)
}

.org-details-container{
    border-bottom: 1px solid #60DDC9;
    border-top: 1px solid #60DDC9;
    background-color: #172A45;
    padding: 25px;
    border-radius: 5px;
    margin-top:20px;
}

.share-info{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-top: 20px;
}

.share-info>h6{
    margin-top: 4px
}

.custom-icon{
    margin:0 10px;
    font-size: 25px 
}


.custom-icon:hover{
    cursor: pointer; 
}

.fb-icon{
    color: #3b5998;    
}

.fb-button{
    background-color: #3b5998 !important;
    border-color: transparent !important
}

.twitter-icon{
    color: #00acee
}

.twitter-button{
    background-color: #00acee !important;
    border-color: transparent !important
}

.org-table, .ideas-table{
    margin-top: 30px;
    /* border: 1px solid lightgray; */
    /* box-shadow: 0 2px 5px 1px lightgray; */
}

.org-table>thead, .ideas-table>thead{
    color: rgb(156,178,214)
}
.org-table>tbody, .ideas-table>tbody{
    color: #fff
}

.org-table>tbody>tr:hover, .ideas-table>tbody>tr:hover{
    background-color: #172A45;
}

.org-table>tbody>tr>td>a, .ideas-table>tbody>tr>td>a{
    color: #60DDC9;
}

.ideas-table>tbody>tr{
    cursor: pointer;
}

.loader{
    margin: 150px 0
}


.input-field{
    width: 40%;
    background-color: transparent;
}

.input-field-style{
    border-radius: 3px !important;
    background-color: #0A192F !important;
    /* border-color: #60DDC9 !important */
}

::placeholder, select {
    color: rgb(226, 234, 248)!important;
}

input[type=text]{
    color: #60DDC9 !important;
}


.input-field-style:focus{
    box-shadow: 0 0 2px 1px #60DDC9 !important;
}

.in{
    margin: 0 20px;
    padding: 5px 0;
    color : #60DDC9
}

.topic-textbox, .description-textbox{
    background-color: transparent !important;
    border-color: #60DDC9 !important;
    
}


.search-btn{
    margin-left: auto;
    margin-right: auto;
    height: 3%;
    padding: 1px 25px !important ;
    margin-top: 5px;
    background-color: transparent !important;
    border-color: #60DDC9 !important;
    color: #60DDC9 !important;
    transition: 0.3s
}

.idea-share-btn{
    height: 10%;
    padding: 5px 25px !important ;
    background-color: transparent !important;
    border-color: #60DDC9 !important;
    color: #60DDC9 !important;
    transition: 0.3s
}

.idea-submit-btn{
    background-color: transparent !important;
    border-color: #60DDC9 !important;
    color: #60DDC9 !important;
    transition: 0.3s
}


.author-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px
}

.author-container>h4{
    color: rgb(226, 234, 248)
}

.ideas-detail-container{
    border: 1px solid transparent;
    margin: 8px 0px;
    background-color: #172A45;
    border-radius: 5px;
    padding: 5px 10px 
}

.idea-description-container>span, .reply-btn-container{
    display: flex;
    justify-content: flex-end;
}

.idea-description-container>p{
    color: rgb(196, 213, 243)
}

.comment-detail-container{
    border-top: 1px solid #60DDC9;
    margin: 8px 0px
}

.comments-container{
    margin-top: 10px
}

.comments-container>div>p{
    margin-left: 15px
}

.comments-description{
    margin-top: 50px
}

.reply-box-container{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px !important
}

.reply-box{
    background-color: transparent !important;
    color: #60DDC9 !important;
    
}


.idea-details-parent-container{
    margin-top: 30px
}

.reply-box-container>textarea{
    width:100%;
    margin-bottom: 10px;
    height: 100px !important
}

.reply-btn{
    padding: 5px 45px !important ;
    background-color: transparent !important;
    border-color: #60DDC9 !important;
    color: #60DDC9 !important;
    transition: 0.3s  !important;
    float: right
}

.reply-btn:hover, .reply-btn:focus .search-btn:hover, .search-btn:focus .idea-share-btn:hover, .idea-share-btn:focus, .idea-submit-btn:hover, .idea-submit-btn:focus{
    background-color: rgba(96,221,201,0.1) !important;
}

.

/* .box-toggle{
    height: 0px !important;
    display: none !important; 
} */

.cancel-toggle{
    display: none;
}

.cancel{
    cursor: pointer;
    margin-right: 5px;
    margin-top: 4px
}

.idea-form-container{
    width: 60%;
    /* border:1px solid lightgray; */
    /* box-shadow: 0 0 5px 1px lightgray; */
    margin: 25px auto;
    padding: 25px;
    border-radius: 5px; 
    background-color: #172A45;
    border-bottom: 1px  solid #60DDC9
}

#author{
    color: black !important
}

#topic, #description{
    color: white !important
}

.idea-form-container>form>.button-container{
    display: flex;
    justify-content: center;
}

.idea-form-container>form>.button-container>button{
    width: 40%
}

.news-details-parent-container{
    margin-top: 20px;
    background-color: #172A45;
    padding: 25px;
    border-radius: 5px;
    border-bottom: 1px solid #60DDC9;
    border-top: 1px solid #60DDC9
}

.news-content-container{
    margin-top: 10px;
    color: rgb(196, 213, 243);
    overflow-y: scroll;
}



::-webkit-scrollbar {
    width: 2px;
    display: none;
  }

@media screen and (max-width: 992px){
    .form-container{
        width: 100%;
        justify-content: space-between;
    }

    .idea-form-container{
        width: 100%;
    }

    .card-container{
        margin-left:auto;
        margin-right:auto;
        /* flex: 50% */
    }


}


@media screen and (max-width: 1049px){
    .custom-card{
        min-width: 48% !important;
    }

}


@media screen and (max-width: 779px){
    .custom-card{
        min-width: 47% !important;
    }

}

@media screen and (max-width: 675px){
    .card-container{
        justify-content: center;
    }
    .custom-card{
        width: 360px !important;
        
    }    

    .custom-news-card, .custom-card{
        margin-right: 0px !important;
    }

}

@media screen and (max-width: 1208px){
    .page-container{
        margin-left: 15px;
        margin-right: 15px;
    }

    .custom-card{
        width:31%;
        min-width: 325px;
    }

}


